<ul class="nav  in" id="side-menu">
  <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Dashboard<i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level ">
      <li class=" nav-item"><a  href="index.html" class="nav-link "><i class="fa fa-globe"></i> Menufacturing</a></li>
      <li class="nav-item"><a class="nav-link" href="networking.html"><i class="fa fa-dashboard"></i> Networking</a></li>
      <li class="nav-item"><a class="nav-link" href="entertainment.html"><i class="fa fa-play"></i> Entertainment</a></li>
      <li class="nav-item"><a class="nav-link" href="social.html"><i class="fa fa-bullhorn"></i> Social</a></li>
      <li class="nav-item"><a class="nav-link" href="todo_task.html"><i class="fa fa-check-square-o"></i> ToDo</a></li>
    </ul>
    <!-- /.nav-second-level --> 
  </li>
  <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">App Pages<i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level">
      <li class="in nav-item"><a  href="inbox.html" class="nav-link ">Mailbox</a></li>
      <li class="nav-item"><a class="nav-link" href="userlist.html">User List</a></li>
      <li class="nav-item"><a class="nav-link" href="socialprofile.html">Social Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="calendar.html">Calendar</a></li>
      <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
      <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
      <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
      <li class="nav-item"><a class="nav-link" href="contactus.html">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="blogs.html">Blogs</a></li>
      <li class="nav-item"><a class="nav-link" href="blogdetails.html">Blog Details</a></li>
    </ul>
    <!-- /.nav-second-level --> 
  </li>
  <li class="nav-item"> <a href="javascript:void(0)" class="menudropdown nav-link">eCommerce <i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level">
      <li  class="nav-item"><a class="nav-link" href="products.html">Products</a></li>
      <li  class="nav-item"><a class="nav-link" href="product_details.html">Product Details</a></li>
      <li  class="nav-item"><a class="nav-link" href="product_edits.html">Product Edits</a></li>
      <li  class="nav-item"><a class="nav-link" href="orderstatus.html">Order status</a></li>
      <li class="nav-item"><a class="nav-link" href="invoice.html">Invoice 1<sup>st</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="invoice2.html">Invoice 2<sup>nd</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="customerprofile.html">Customer Profile</a></li>
    </ul>
    <!-- /.nav-second-level --> 
  </li>
  <li class="nav-item"> <a href="javascript:void(0)" class="menudropdown nav-link">Other Pages <i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level">
      <li class="nav-item"><a class="nav-link" href="blank.html">Blank Page</a></li>
      <li class="nav-item"><a href="javascript:void(0)" class="menudropdown nav-link">Sign in <i class="fa fa-angle-down "></i></a>
        <ul class="nav flex-column nav-third-level">
          <li class="nav-item"><a class="nav-link" href="sign-in1.html">Sign in 1</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-in2.html">Sign in 2</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-in3.html">Sign in 3</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-in4.html">Sign in 4</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-in5.html">Sign in 5</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-in6.html">Sign in 6</a></li>
        </ul>
        <!-- /.nav-third-level --> 
      </li>
      <li class="nav-item"><a href="javascript:void(0)" class="menudropdown nav-link">Register <i class="fa fa-angle-down "></i></a>
        <ul class="nav flex-column nav-third-level">
          <li class="nav-item"><a class="nav-link" href="sign-up1.html">Register 1</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up2.html">Register 2</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up3.html">Register 3</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up4.html">Register 4</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up5.html">Register 5</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up6.html">Register 6</a></li>
        </ul>
        <!-- /.nav-third-level --> 
      </li>
      <li class="nav-item"><a href="javascript:void(0)" class="menudropdown nav-link">Lock<i class="fa fa-angle-down "></i></a>
        <ul class="nav flex-column nav-third-level">
          <li class="nav-item"><a class="nav-link" href="lock1.html">Lock 1</a></li>
          <li class="nav-item"><a class="nav-link" href="lock2.html">Lock 2</a></li>
          <li class="nav-item"><a class="nav-link" href="lock3.html">Lock 3</a></li>
          <li class="nav-item"><a class="nav-link" href="lock4.html">Lock 4</a></li>
          <li class="nav-item"><a class="nav-link" href="lock5.html">Lock 5</a></li>
          <li class="nav-item"><a class="nav-link" href="lock6.html">Lock 6</a></li>
        </ul>
        <!-- /.nav-third-level --> 
      </li>
      <li class="nav-item"><a class="nav-link" href="404.html">404 1<sup>st</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="404_2.html">404 2<sup>nd</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="500.html">500 1<sup>st</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="500_2.html">500 2<sup>nd</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="searchresult.html">Search Result</a></li>
      <li class="nav-item"><a class="nav-link" href="faqs.html">FAQs</a></li>
      <li class="nav-item"><a class="nav-link" href="commingsoon.html">Coming Soon 1<sup>st</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="commingsoon2.html">Coming Soon 2<sup>nd</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="commingsoon3.html">Coming Soon 3<sup>rd</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="cookie.html">Cookie</a></li>
    </ul>
    <!-- /.nav-second-level --> 
  </li>
  <li class="nav-item"> <a href="javascript:void(0)" class="menudropdown nav-link">Charts &amp; Maps<i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level">
      <li class="nav-item"><a class="nav-link" href="flotjs.html">Flot Charts</a> </li>
      <li class="nav-item"><a class="nav-link" href="morrisjs.html">Morris.js Charts</a></li>
      <li class="nav-item"><a class="nav-link" href="chartjs.html">Chart.js Charts</a></li>
      <li class="nav-item"><a class="nav-link" href="amchart.html">amCharts</a></li>
      <li class="nav-item"><a class="nav-link" href="jvectormap.html">jVectormap</a></li>
      <li class="nav-item"><a class="nav-link" href="googlemap.html">Google map 1<sup>st</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="google_map_half.html">Google map 2<sup>nd</sup></a></li>
    </ul>
    <!-- /.nav-second-level --> 
  </li>
  <li class="nav-item"> <a href="javascript:void(0)" class="menudropdown nav-link">Landing pages <span class="badge badge-primary ml-2">Free</span> <i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level">
      <li class="nav-item"><a class="nav-link" href="landing1.html">Font-end 1</a></li>
      <li class="nav-item"><a class="nav-link" href="landing2.html">Font-end 2</a></li>
      <li class="nav-item"><a class="nav-link" href="landing3.html">Font-end 3</a></li>
      <li class="nav-item"><a class="nav-link" href="landing4.html">Font-end 4</a></li>
    </ul>
  </li>
  <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Layout<i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level">
      <li class="in nav-item"><a  href="fixedheader.html" class="nav-link ">Fixed Header</a></li>
      <li class="in nav-item"><a  href="scrollheader.html" class="nav-link ">Hide Header</a></li>
      <li class="in nav-item"><a  href="boxedlayout.html" class="nav-link ">Boxed Page</a></li>
      <li class="in nav-item"><a  href="boxedlayout_fixed_header.html" class="nav-link ">Boxed + Header fix</a></li>
      <li class="in nav-item"><a  href="horizontalnav.html" class="nav-link ">Horizontal Menu</a></li>
      <li class="in nav-item"><a  href="rounded.html" class="nav-link ">More Rounded</a></li>
    </ul>
    <!-- /.nav-second-level --> 
  </li>
  <li  class="nav-item"> <a class="nav-link" href="tables.html"><i class="fa fa-file-o left-icon square"></i>Tables</a> </li>
  <li class="nav-item"> <a class="nav-link" href="forms.html"><i class="fa fa-file-o left-icon circle"></i>Forms</a> </li>
</ul>
