<div class="user-menu-items">
  <div class="list-unstyled btn-group">
    <button class="media btn btn-link dropdown-toggle"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="message_userpic"><img class="d-flex mr-3" src="../img/user-header.png" alt="Generic user image"></span>
    <div class="media-body">
      <h6 class="mt-0 mb-1">Maxartkiller</h6>
      <span>New Jersey, UK</span>. </div>
    </button>
    <div class="dropdown-menu"> <a class="dropdown-item" href="customerprofile.html">Profile</a> <a class="dropdown-item" href="inbox.html">Mailbox</a> <a class="dropdown-item" href="#">Application</a> <a class="dropdown-item" href="#">Analytics Report</a> <a class="dropdown-item" href="#">Preferances</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Setting</a> </div>
  </div>
</div>
<br>
<ul class="nav flex-column in" id="side-menu">
  <li class="title-nav">MENU</li>
  <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Dashboard<i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level ">
      <li class=" nav-item"><a  href="index.html" class="nav-link "><i class="fa fa-globe"></i> Menufacturing</a></li>
      <li class="nav-item"><a class="nav-link" href="networking.html"><i class="fa fa-dashboard"></i> Networking</a></li>
      <li class="nav-item"><a class="nav-link" href="entertainment.html"><i class="fa fa-play"></i> Entertainment</a></li>
      <li class="nav-item"><a class="nav-link" href="social.html"><i class="fa fa-bullhorn"></i> Social</a></li>
      <li class="nav-item"><a class="nav-link" href="todo_task.html"><i class="fa fa-check-square-o"></i> ToDo</a></li>
    </ul>
    <!-- /.nav-second-level --> 
  </li>
  <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">App Pages<i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level">
      <li class="in nav-item"><a  href="inbox.html" class="nav-link ">Mailbox</a></li>
      <li class="nav-item"><a class="nav-link" href="userlist.html">User List</a></li>
      <li class="nav-item"><a class="nav-link" href="socialprofile.html">Social Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="calendar.html">Calendar</a></li>
      <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
      <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
      <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
      <li class="nav-item"><a class="nav-link" href="contactus.html">Contact</a></li>
      <li class="nav-item"><a class="nav-link" href="blogs.html">Blogs</a></li>
      <li class="nav-item"><a class="nav-link" href="blogdetails.html">Blog Details</a></li>
    </ul>
    <!-- /.nav-second-level --> 
  </li>
  <li class="nav-item"> <a href="javascript:void(0)" class="menudropdown nav-link">eCommerce <i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level">
      <li  class="nav-item"><a class="nav-link" href="products.html">Products</a></li>
      <li  class="nav-item"><a class="nav-link" href="product_details.html">Product Details</a></li>
      <li  class="nav-item"><a class="nav-link" href="product_edits.html">Product Edits</a></li>
      <li  class="nav-item"><a class="nav-link" href="orderstatus.html">Order status</a></li>
      <li class="nav-item"><a class="nav-link" href="invoice.html">Invoice 1<sup>st</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="invoice2.html">Invoice 2<sup>nd</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="customerprofile.html">Customer Profile</a></li>
    </ul>
    <!-- /.nav-second-level --> 
  </li>
  <li class="nav-item"> <a href="javascript:void(0)" class="menudropdown nav-link">Other Pages <i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level">
      <li class="nav-item"><a class="nav-link" href="blank.html">Blank Page</a></li>
      <li class="nav-item"><a href="javascript:void(0)" class="menudropdown nav-link">Sign in <i class="fa fa-angle-down "></i></a>
        <ul class="nav flex-column nav-third-level">
          <li class="nav-item"><a class="nav-link" href="sign-in1.html">Sign in 1</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-in2.html">Sign in 2</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-in3.html">Sign in 3</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-in4.html">Sign in 4</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-in5.html">Sign in 5</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-in6.html">Sign in 6</a></li>
        </ul>
        <!-- /.nav-third-level --> 
      </li>
      <li class="nav-item"><a href="javascript:void(0)" class="menudropdown nav-link">Register <i class="fa fa-angle-down "></i></a>
        <ul class="nav flex-column nav-third-level">
          <li class="nav-item"><a class="nav-link" href="sign-up1.html">Register 1</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up2.html">Register 2</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up3.html">Register 3</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up4.html">Register 4</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up5.html">Register 5</a></li>
          <li class="nav-item"><a class="nav-link" href="sign-up6.html">Register 6</a></li>
        </ul>
        <!-- /.nav-third-level --> 
      </li>
      <li class="nav-item"><a href="javascript:void(0)" class="menudropdown nav-link">Lock<i class="fa fa-angle-down "></i></a>
        <ul class="nav flex-column nav-third-level">
          <li class="nav-item"><a class="nav-link" href="lock1.html">Lock 1</a></li>
          <li class="nav-item"><a class="nav-link" href="lock2.html">Lock 2</a></li>
          <li class="nav-item"><a class="nav-link" href="lock3.html">Lock 3</a></li>
          <li class="nav-item"><a class="nav-link" href="lock4.html">Lock 4</a></li>
          <li class="nav-item"><a class="nav-link" href="lock5.html">Lock 5</a></li>
          <li class="nav-item"><a class="nav-link" href="lock6.html">Lock 6</a></li>
        </ul>
        <!-- /.nav-third-level --> 
      </li>
      <li class="nav-item"><a class="nav-link" href="404.html">404 1<sup>st</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="404_2.html">404 2<sup>nd</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="500.html">500 1<sup>st</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="500_2.html">500 2<sup>nd</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="searchresult.html">Search Result</a></li>
      <li class="nav-item"><a class="nav-link" href="faqs.html">FAQs</a></li>
      <li class="nav-item"><a class="nav-link" href="commingsoon.html">Coming Soon 1<sup>st</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="commingsoon2.html">Coming Soon 2<sup>nd</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="commingsoon3.html">Coming Soon 3<sup>rd</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="cookie.html">Cookie</a></li>
    </ul>
    <!-- /.nav-second-level --> 
  </li>
  <li class="nav-item"> <a href="javascript:void(0)" class="menudropdown nav-link">Charts &amp; Maps<i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level">
      <li class="nav-item"><a class="nav-link" href="flotjs.html">Flot Charts</a> </li>
      <li class="nav-item"><a class="nav-link" href="morrisjs.html">Morris.js Charts</a></li>
      <li class="nav-item"><a class="nav-link" href="chartjs.html">Chart.js Charts</a></li>
      <li class="nav-item"><a class="nav-link" href="amchart.html">amCharts</a></li>
      <li class="nav-item"><a class="nav-link" href="jvectormap.html">jVectormap</a></li>
      <li class="nav-item"><a class="nav-link" href="googlemap.html">Google map 1<sup>st</sup></a></li>
      <li class="nav-item"><a class="nav-link" href="google_map_half.html">Google map 2<sup>nd</sup></a></li>
    </ul>
    <!-- /.nav-second-level --> 
  </li>
  <li class="nav-item"> <a href="javascript:void(0)" class="menudropdown nav-link">Landing pages <span class="badge badge-primary ml-2">Free</span> <i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level">
      <li class="nav-item"><a class="nav-link" href="landing1.html" >Font-end 1</a></li>
      <li class="nav-item"><a class="nav-link" href="landing2.html" >Font-end 2</a></li>
      <li class="nav-item"><a class="nav-link" href="landing3.html" >Font-end 3</a></li>
      <li class="nav-item"><a class="nav-link" href="landing4.html" >Font-end 4</a></li>
    </ul>
  </li>
  <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Layout<i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level">
      <li class="in nav-item"><a  href="fixedheader.html" class="nav-link ">Fixed Header</a></li>
      <li class="in nav-item"><a  href="scrollheader.html" class="nav-link ">Hide Header</a></li>
      <li class="in nav-item"><a  href="boxedlayout.html" class="nav-link ">Boxed Page</a></li>
      <li class="in nav-item"><a  href="boxedlayout_fixed_header.html" class="nav-link ">Boxed + Header fix</a></li>
      <li class="in nav-item"><a  href="horizontalnav.html" class="nav-link ">Horizontal Menu</a></li>
      <li class="in nav-item"><a  href="rounded.html" class="nav-link ">More Rounded</a></li>
      <li class="in nav-item"><a  href="rtl_read.html" class="nav-link ">RTL</a></li>
    </ul>
    <!-- /.nav-second-level --> 
  </li>
  <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Theme Colors<i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level ">
      <li class="nav-item"><a class="nav-link" href="dark_purple_theme.html">Dark Purple Theme</a></li>
      <li class="nav-item"><a class="nav-link" href="dark_red_theme.html">Dark Red Theme</a></li>
      <li class="nav-item"><a class="nav-link" href="dark_grey_theme.html">Dark Grey Theme</a></li>
      <li class="nav-item"><a class="nav-link" href="dark_green_theme.html">Dark Green Theme</a></li>
      <li class="nav-item"><a class="nav-link" href="dark_brown_theme.html"> Dark Brown Theme</a></li>
      <li class="nav-item"><a class="nav-link" href="light_theme.html">Light Theme</a></li>
      <li class="nav-item"><a class="nav-link" href="light_theme_rounded.html">Light Theme + rounded</a></li>
    </ul>
    <!-- /.nav-second-level --> 
  </li>
  <li class="title-nav">
    <hr>
  </li>
  <li class="title-nav">icon + MENU</li>
  <li  class="nav-item"> <a class="nav-link" href="tables.html"><i class="fa fa-file-o left-icon square"></i>Tables</a> </li>
  <li class="nav-item"> <a class="nav-link" href="forms.html"><i class="fa fa-file-o left-icon circle"></i>Forms</a> </li>
  <li class="nav-item"> <a href="javascript:void(0)" class="nav-link menudropdown"><i class="fa fa-tree left-icon"></i>Controls Library <span class="badge badge-danger ml-2">New</span> <i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level">
      <li class="nav-item"><a class="nav-link" href="wizards.html">Wizards</a></li>
      <li class="nav-item"><a class="nav-link" href="timeline.html">Timeline</a></li>
      <li class="nav-item"><a class="nav-link" href="cards.html">Cards</a></li>
      <li class="nav-item"><a class="nav-link" href="accordion.html">Accordion</a></li>
      <li class="nav-item"><a class="nav-link" href="Tabs.html">Tabs</a></li>
      <li class="nav-item"><a class="nav-link" href="buttons.html">Buttons</a></li>
      <li class="nav-item"><a class="nav-link" href="alerts_notes.html">Alerts and Notes</a></li>
      <li class="nav-item"><a class="nav-link" href="toast.html">Toast</a></li>
      <li class="nav-item"><a class="nav-link" href="breadcrumb.html">BreadCrumb</a></li>
      <li class="nav-item"><a class="nav-link" href="modal.html">Modal</a></li>
      <li class="nav-item"><a class="nav-link" href="popover.html">Popover</a></li>
      <li class="nav-item"><a class="nav-link" href="typography.html">Typography</a></li>
      <li class="nav-item"><a class="nav-link" href="icons.html"> Icons</a></li>
      <li class="nav-item"><a class="nav-link" href="grid.html">Grid</a></li>
      <li class="nav-item"><a class="nav-link" href="progressbar.html">Progress bar</a></li>
      <li class="nav-item"><a class="nav-link" href="rangeslider.html">Range Slider</a></li>
      <li class="nav-item"><a class="nav-link" href="dropdown.html">Dropdown</a></li>
      <li class="nav-item"><a class="nav-link" href="multiselect.html">Multi Select</a></li>
      <li class="nav-item"><a class="nav-link" href="picker.html">Picker</a></li>
      <li class="nav-item"><a class="nav-link" href="clipboard.html">Clipboard</a></li>
      <li class="nav-item"><a class="nav-link" href="autocomplete.html">Autocomplete</a></li>
      <li class="nav-item"><a class="nav-link" href="switch.html">Switch</a></li>
      <li class="nav-item"><a class="nav-link" href="contextmenu.html">Context Menu</a></li>
      <li class="nav-item"><a class="nav-link" href="ckeditor.html">ckeditor</a></li>
    </ul>
    <!-- /.nav-second-level --> 
  </li>
  <li class="nav-item"> <a href="javascript:void(0)" class="nav-link menudropdown ">Multi-Level Dropdown<i class="fa fa-angle-down "></i></a>
    <ul class="nav flex-column nav-second-level">
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Second Level Item</a> </li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Second Level Item</a> </li>
      <!-- .nav-third-level menudropdown2 -->
      <li class="nav-item"><a href="javascript:void(0)" class="menudropdown nav-link">Third Level <i class="fa fa-angle-down "></i></a>
        <ul class="nav flex-column nav-third-level">
          <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Third Level Item</a> </li>
          <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Third Level Item</a> </li>
          <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Third Level Item</a> </li>
          <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Third Level Item</a> </li>
        </ul>
        <!-- /.nav-third-level --> 
      </li>
    </ul>
    <!-- /.nav-second-level --> 
  </li>
</ul>
<hr>
<ul class="nav flex-column in" >
  <li class="title-nav">Activity States</li>
  <li class="nav-item "><a href="#" class="nav-link"><span><span class="dynamicsparkline2">Loading..</span> </span><br>
    Daily activity</a></li>
</ul>
<hr>
<ul class="nav flex-column in">
  <li class="title-nav">Next Meeting</li>
  <li class="nav-item "> <a href="#" class="nav-link">
    <h5>12:30 PM, Today <span class="fa fa-bell-o pull-right"></span></h5>
    <span class="meeting-subject">Agenda: Team mnufacturing review meeting. Board Compulsory</span> </a>
    <div class="nav-link">
      <button class="btn btn-outline-success btn-round mr-sm-2">Snooz</button>
      <button class="btn btn-outline-danger btn-round ">Dismiss</button>
    </div>
  </li>
</ul>
<br>
<br>
