.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 95%;
  border-left-style: solid;
  border-radius:2px;
}

.card-green-indicator{
  border-left-color: #F07260;
  border-left-width: 10px;
}

.card-orange-indicator{
  border-left-color: #ff9800;
  border-left-width: 10px;
}

.card-bottom-blue-top-red-indicator{
  border-bottom-color: #0D47A1;
  border-bottom-width: 3px;
  border-top-color: red;
  border-top-width: 3px;
}

.card-bottom-blue-top-orange-indicator{
  border-bottom-color: #0D47A1;
  border-bottom-width: 3px;
  border-top-color: orange;
  border-top-width: 3px;
}


.card-red-indicator{
  border-left-color: #c41c00;
  border-left-width: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 16px 16px;
  align-content: left;
}

.card-current{
    background:#efebe9;
}

