
/*Background Full Screen Image*/
body {
    background: linear-gradient(110deg, #F07260 40%, #fdcd3b 40%) !important;
    background-repeat: no-repeat;
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  border: none;
  text-align: left;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  margin: auto; /* Important */
  position: absolute;
  top: 6%;
  left: 6%;
  width: 100%;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('../z_img/ic_facebook.png') 14px 14px no-repeat;
  top: 0px;
  left: 0px;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #f8f8f8;
  color: #000000;
  font-weight: bold;
}
.loginBtn--google:before {
  background: url('../z_img/ic_google.png') 0 0 no-repeat;
  background-size: 40px 40px;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #FFFFFF;
}

.loginBtnContainer{
    position:fixed;
    top: 25%;
}

#inline{
    width:100%;
    height:auto;
    display:flex;
}

.firstSegment{
       border-top-left-radius: 10px;
       border-bottom-left-radius: 10px;
       width:14%;
       height:45px;
       background-color:white;
   }
.secondSegment{
       border-top-right-radius: 10px;
       border-bottom-right-radius: 10px;
       //width:32%;
       height:45px;
       background-color:white;
}

.buttonPressed{
       opacity:0.9 !important;
}

section {
    display: flex;
    width: 50%;
    height: 200px;
}

p {
    margin: auto; /* Important */
    text-align: center;
}

/* CSS */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left:25%;
  padding-bottom:33%;
  height: 100%;
}
.ball {
  width: 8px;
  height: 8px;
  border-radius: 11px;
  margin: 0.7px;

  animation: 1s bounce ease infinite;
}
.blue {
  background-color: #4285F5;
}
.red {
  background-color: #EA4436;
  animation-delay: .25s;
}
.yellow {
  background-color: #FBBD06;
  animation-delay: .5s;
}
.green {
  background-color: #34A952;
  animation-delay: .75s;
}
@keyframes bounce {
    50% {
        transform: translateY(15px);
    }
}
/* Progress */